{% extends "mu_core/base.html" %}

{% load rest_framework %}


{% block title %}Add short URL{% endblock %}

{% block content %}
<div style="width: 800px; margin:20px 70px 50px 70px; ">

    <h1>Add short URL</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'add-short-url' %}" method="POST">
        {% csrf_token %}
        {% render_form serializer %}
        <input type="submit" value="Create">
    </form>

</div>

<a href="/" style="margin: 70px; ">Go back</a>

{% endblock content %}
