{% extends "mu_core/base.html" %}

{% block title %}Register a new user{% endblock %}

{% block content %}
<div style="width: 800px; margin:20px 70px 50px 70px; ">

    <h1>Register a new user</h1>

    <form action="{% url 'add-user' %}" method="POST">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Register">
    </form>

</div>

<a href="/" style="margin: 70px; ">Go back</a>
{% endblock content %}
